*{margin: 0; padding: 0; box-sizing: border-box;}
/* all set */

.contents{
    margin: 30px auto;
    background: url(../images/picture4.jpeg); background-repeat: no-repeat;
    background-size: cover; position: relative;
    width: 700px; height: 500px;

}
.contents h1{
    position: absolute; background-color: #fff;
    bottom: 180px; right: 30px; padding: 10px; font-size: 120px;
    text-shadow: 10px 8px 0 #9b9b9b;
}
/*  contents fine */

.wrap{
    margin: 0 auto; width: 50%; height: 500px; background-color: #9b9b9b;
    position: relative; bottom: 100px; margin-bottom: 5000px;
}
.wrap>*{
    width: 40px; height: 40px; background-color: #000; position: absolute;
}
.wrap div:first-of-type,.wrap div:nth-of-type(2){
    top: 20px;
}
.wrap div:first-of-type,.wrap div:nth-of-type(4){
    left: 20px; 
}
.wrap div:nth-of-type(2),.wrap div:last-of-type{
    right: 20px;
}
.wrap div:nth-of-type(3){
    top: calc(50% - 20px); left: calc(50% - 20px);
}
.wrap div:nth-of-type(4), .wrap div:last-of-type{
    bottom: 20px;
}
